img {
    float:right;
    width: 30%;
    margin : 1.66%;
}

h1{
    font-family: 'Lato', sans-serif;
    margin-left:1.66%;
    font-size: 23px;
    text-transform: uppercase;
    border-bottom: 3px solid #f1f1f1;
    width : 30%;
    padding-bottom : 25 px;
}